body {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

.interactive {
  background-color: #96f1e2;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasks {
  background-color: #96f1e2;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasks h3 {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.strike {
  text-decoration: line-through;
}
.App .item-task .item-text {
  display: inline-block;
  cursor: pointer;
}
.x{
  color: red;
}
.add{
  padding: 15px 40px;
  background-color: #e1fa71;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}